@import 
url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');



html {
 font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 10px;
  width: 100%;
  
}

.container nav a {
    padding: 5px 10px;
    display: inline-block;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    width: 70px;
    
}

header {
  width: 100%;
}

.visit {
  background: #ff764e;
}

.about {
  background: #5ed3eb;
  margin-left: 70px;
}

.vol {
  background: #ffcd69;
  margin-left: 70px;
}

header {
  display: inline-block;
  position: relative;
}

.intro {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  
}

#head {
  margin-right: 60%;
  width: 150px;
  border-radius: 100px;
  position: absolute;
  top:  15%;
  right: 5%;
}

.intro p {
    margin-left: 40%;
    width: 50%;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 3rem;
  margin-left: 35%;
  width: 60%;
  
}

p {
  margin-top: 15px;
}

#para2 { 
    width: 35%;
    margin-left: 50%;
}

.para {
  background: #DDB9A3;
  color: white;
  width: 90%;
  margin: 0 auto;
}

.para p {
  padding: 10px;
}

.fire {
    width: 35%;
    margin: 0 auto;
}

#fireImg {
  width: 80px;
}

.reserve {
    width: 35%;
    margin: 0 auto;
}

#rv {
  width: 80px;
}
span {
  font-weight: 700;
}

footer {
  background: #f9e7dc;
  margin-top: 40px;
}

#foot {
  width: 100%;
  height: 20vh;
}

footer nav a {
    margin-top: 15px;
    margin-bottom: 15px;
}